* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */
.container {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.navbar {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  height: 80px;
  width: auto;
}

/* Headings */
h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.subtitle {
  color: #666;
  margin-bottom: 30px;
}

/* Form */
form input {
  width: 100%;
  padding: 15px;
  border-radius: 12px;
  border: none;
  background: #eaeaea;
  margin-bottom: 15px;
  font-size: 16px;
}

input:hover {
  border: 2px solid #6c5ce7;
}

input:focus {
  border: 2px solid #6c5ce7;
  background: #fff;
}

.primary-btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 12px;
  background: #dcdcdc;
  color: #888;
  font-size: 16px;
  cursor: pointer;
}

/* Terms */
.terms {
  font-size: 12px;
  color: #777;
  margin: 20px 0;
}

.terms a {
  color: #333;
  text-decoration: underline;
}

/* Divider */
.divider {
  margin: 20px 0;
  position: relative;
}

.divider span {
  background: #f5f5f5;
  padding: 0 10px;
  color: #888;
}

/* Social Buttons */
.social-btn {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-btn img {
  width: 18px;
  height: 18px;
}

.social-btn:hover {
  border: 1px solid #ffffff;
}

/* Login text */
.login-text {
  margin-top: 15px;
  font-size: 14px;
}

.login-text a {
  color: blue;
  text-decoration: none;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}

.input-error {
  border: 2px solid red !important;
}

#continueBtn {
  background: #dcdcdc;
  color: #888;
  cursor: not-allowed;
  transition: 0.3s;
}

/* Active state */
#continueBtn.active {
  background: #6c5ce7;
  color: white;
  cursor: pointer;
}
